Source: maemo-input-sounds
Priority: optional
Maintainer: Merlijn Wajer <merlijn@wizzup.org>
Build-Depends:
 debhelper (>= 9),
 libgconf2-dev,
 libdbus-1-dev,
 libdbus-glib-1-dev,
 libxtst-dev,
 libxext-dev,
 libx11-dev,
 maemo-system-services-dev,
 libpulse-dev,
Standards-Version: 3.7.2
Section: libs

Package: maemo-input-sounds
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 hildon-control-panel (>= 1:2.2.1),
 libcanberra-pulse,
Provides:
 theme-config,
 theme-default-settings,
Description: Maemo Input Sounds program

