#!/usr/bin/make -f

#export DH_VERBOSE=1
#export DEB_BUILD_OPTIONS="nostrip"

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wall -Werror -Wextra

%:
	dh $@ --with autoreconf

override_dh_install:
	dh_install
	dh_installxsession --init-script='maemo-xinput-sounds-start' -u 'post 01'
	dh_installxsession --init-script='maemo-xinput-sounds-restart' -u 'post 41'

override_dh_autoreconf:
	dh_autoreconf --as-needed
